[Unit]
Description=PurPur Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/mozart409-purpur/server

StartLimitIntervalSec=400
StartLimitBurst=3

Restart=always
RestartSec=90

ExecStart=/usr/bin/screen -DmS root /usr/bin/java -Xms1G -Xmx2G -jar paper.jar --nogui
KillSignal=SIGINT
SuccessExitStatus=INT SIGINT 130

[Install]
WantedBy=multi-user.target