[Unit]
Description=PurPur Server
After=network.target

[Service]
Type=simple

StartLimitIntervalSec=400
StartLimitBurst=3

Restart=always
RestartSec=90

ExecStart=/root/mozart409-purpur/server/server.sh
KillSignal=SIGINT
SuccessExitStatus=INT SIGINT 130

[Install]
WantedBy=multi-user.target